//Font
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap';
$font-name: 'Montserrat';
$font-family: $font-name, sans-serif;