.bio-sec{
    background-color: #555555;
}
.instrumentos-b{
    height: auto;
    background-position: center right;
    background-repeat: no-repeat;
}
.flex{
    display: flex;
}
.left-col, .right-col{
    max-width: 50%;
    width: 100%;
    padding: 100px;
}
.left-col h2{
    color: #444444;
    font-size: 60px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.left-col h3{
    color: #444444;
    font-size: 25px;
    margin-bottom: 0.5rem;
}
.left-col p {
    color: #444444;
    font-size: 15px;
    padding-right: 100px;
    line-height: 2;
}
.right-col{
    margin-left: auto;
    margin-top: 50px;
}
.right-col h2{
    color: #fff;
    font-size: 60px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.right-col h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 0.5rem;
}
.right-col p {
    color: #fff;
    font-size: 15px;
    padding-right: 100px;
    line-height: 2;
}
.btn-meet{
    background-color: #4196A8;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    display: block;
    max-width: 270px;
    margin-top: 20px;
    text-align: center;
}
#home-instruments .left-col{
    padding: 90px;
}