
@font-face {
  font-family: DMSans;
  font-weight: 400;
  src: url("https://assets.betalabs.net/production/sync/fonts/stores/1/DMSans-Regular.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 500;
  src: url("https://assets.betalabs.net/production/sync/fonts/stores/1/DMSans-Medium.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 500;
  font-style: italic;
  src: url("https://assets.betalabs.net/production/sync/fonts/stores/1/DMSans-MediumItalic.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 700;
  src: url("https://assets.betalabs.net/production/sync/fonts/stores/1/DMSans-Bold.ttf");
}
@font-face {
  font-family: DMSans;
  font-weight: 700;
  font-style: italic;
  src: url("https://assets.betalabs.net/production/sync/fonts/stores/1/DMSans-BoldItalic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSans;
}
html,
body {
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
}
a:hover {
  color: inherit;
}
.wrap {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head {
  max-width: 195px;
  font-size: 30px;
  font-weight: 700;
  color: #caa68c;
  line-height: 30px;
  text-align: center;
  margin: 40px auto 38px;
}
.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon__heart {
  width: 18px;
  height: 15.24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/heart.svg");
  margin-right: 11px;
}
.icon__hamb {
  width: 31px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/hamb.svg");
}
.icon__sync {
  width: 62px;
  height: 94px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/sync.svg");
}
.icon__user {
  width: 24px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/user.svg");
}
.icon__cart {
  width: 27px;
  height: 21px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/cart.svg");
}
.icon__cart-w {
  width: 27px;
  height: 21px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/cart-w.svg");
}
.icon__search {
  width: 23px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/search.svg");
}
.icon__truck {
  width: 33px;
  height: 19px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/truck.svg");
}
.icon__boleto {
  width: 28px;
  height: 18px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/boleto.svg");
}
.icon__card {
  width: 28px;
  height: 18px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/card.svg");
}
.icon__chevron-right {
  width: 22px;
  height: 22px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/chevron-right.svg");
}
.icon__whatsapp {
  width: 24px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/whatsapp.svg");
}
.icon__whatsapp.marrom {
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/whatsapp-marrom.svg");
}
.icon__chat {
  width: 17px;
  height: 17px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/chat.svg");
}
.icon__facebook {
  width: 24px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/facebook.svg");
}
.icon__instagram {
  width: 24px;
  height: 24px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/instagram.svg");
}
.icon__youtube {
  width: 24px;
  height: 16.7px;
  background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/youtube.svg");
}
@media (min-width: 320px) {
  .header {
    width: 100%;
    min-height: 210px;
    background-image: url("https://assets.betalabs.net/production/sync/images/stores/1/bg-header-mobile-1x.png");
    background-position: center 40px;
    background-repeat: no-repeat;
  }
  .header .desktop {
    display: none;
  }
  .header-menu,
  .header-logo,
  .header-admin,
  .desktop-admin {
    display: none;
  }
  .header-frete {
    width: 100%;
    min-height: 40px;
    background-color: #707070;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 16px;
  }
  .header-wrap .icon__user {
    margin-right: 10px;
  }
  .header-search {
    width: 100%;
    min-height: 41px;
    padding: 10px 7% 16px;
    position: relative;
  }
  .header-search input[type=text] {
    width: 100%;
    min-height: 41px;
    border: none;
    border-left: 3px solid #d14c77;
    font-size: 11px;
    font-weight: 700;
    color: #707070;
    line-height: 14px;
    padding-left: 35px;
    text-transform: uppercase;
    background: transparent;
  }
  .header-search input[type=submit] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .header-search label {
    width: 24px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
  }
  .banners-top .desktop {
    display: none;
  }
  .banner-top {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .banner-categoria {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 56px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: #d14c77;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
  }
  .beneficios {
    width: 100%;
    height: auto;
    background-color: #caa68c;
    padding: 30px 9.3%;
  }
  .beneficios li {
    display: grid;
    grid-template-columns: 45px calc(100% - 45px);
  }
  .beneficios li:not(:last-child) {
    margin-bottom: 20px;
  }
  .beneficios p {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    line-height: 17px;
  }
  .beneficios span {
    text-transform: uppercase;
  }
  .tab-wrap ul {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }
  .tab-wrap li {
    display: inline-block;
  }
  .tab-wrap li a {
    min-height: 63px;
    font-size: 11px;
    font-weight: 700;
    color: #707070;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .tab-wrap li a[aria-selected=true] {
    background-color: #fcf6f2;
    color: #caa68c;
  }
  .tab-wrap > div:not([hidden=hidden]) {
    background-color: #fcf6f2;
  }
  .tab-content--wrap {
    padding: 30px 52px;
  }
  .tab-content--wrap .produto-item--imgs .owl-item {
    background-color: #fff;
    border: 1px solid #fff;
  }
  .tab-content--wrap > .owl-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .tab-content--wrap > .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e6dfdb;
    margin: 0 3px;
  }
  .tab-content--wrap > .owl-dots .owl-dot.active {
    background-color: #caa68c;
  }
  .produto-item {
    max-width: 270px;
    margin: auto;
    position: relative;
  }
  .produto-item .flex {
    justify-content: flex-start;
  }
  .produto-item--etiquetas {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
  }
  .produto-item--etiquetas > div:not(:last-child) {
    margin-bottom: 10px;
  }
  .produto-item--etiquetas span {
    border-radius: 3px;
    padding: 6px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  .produto-item--etiquetas span.frete-gratis {
    background-color: #ffb11d;
  }
  .produto-item--etiquetas span.off {
    background-color: #d14c77;
  }
  .produto-item--imgs .owl-dots {
    width: 100%;
  }
  .produto-item--imgs .owl-dot {
    width: 7px;
    height: 7px;
    background-color: #e5d4c8 !important;
    border-radius: 50%;
    margin: 0 2px;
  }
  .produto-item--imgs .owl-dot.active {
    background-color: #caa68c !important;
  }
  .produto-item--imgs .owl-dot ~ .owl-dot:not(.active){
    background-color: #F4F2F0 !important;
  }
  .produto-item--imgs .owl-nav {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .produto-item--imgs .owl-prev,
  .produto-item--imgs .owl-next {
    width: 20px;
    height: 40px;
  }
  .produto-item--imgs .owl-prev span,
  .produto-item--imgs .owl-next span {
    font-size: 30px;
  }
  .produto-item--categoria {
    font-size: 13px;
    font-weight: 400;
    color: #a8a8a8;
    line-height: 22px;
  }
  .produto-item--titulo {
    font-size: 16px;
    font-weight: 700;
    color: #707070;
    line-height: 22px;
  }
  .produto-item--precoDe {
    font-size: 13px;
    font-weight: 700;
    color: #707070;
    line-height: 22px;
    text-decoration: line-through;
    margin-right: 18px;
  }
  .produto-item--precoPor {
    font-size: 16px;
    font-weight: 700;
    color: #caa68c;
    line-height: 22px;
  }
  .produto-item--parcelas {
    font-size: 14px;
    font-weight: 700;
    color: #bcbcbc;
  }
  .brands {
    padding: 5px 2.1%;
    position: relative;
    border-bottom: 1px solid #dedede;
  }
  .brands .wrap {
    max-width: 210px;
    margin: auto;
  }
  .brands h3 {
    display: none;
  }
  .brands .owl-nav {
    width: 100%;
    height: 21px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brands .owl-nav .fas {
    width: 24px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #caa68c;
    color: #caa68c;
    font-size: 10px;
  }
  .brands .owl-prev {
    position: relative;
    left: -50px;
  }
  .brands .owl-next {
    position: relative;
    right: -50px;
  }
  .brand {
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banners-mid {
    width: 100%;
    padding: 60px 7.3%;
  }
  .banner-mid:not(:last-child) {
    margin-bottom: 30px;
  }
  .produtos-carousel {
    margin-bottom: 75px;
  }
  .produtos-carousel .wrap {
    padding: 0 7.2%;
  }
  .produtos-carousel .wrap > .owl-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .produtos-carousel .wrap > .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e6dfdb;
    margin: 0 3px;
  }
  .produtos-carousel .wrap > .owl-dots .owl-dot.active {
    background-color: #caa68c;
  }
  .newsletter {
    width: 100%;
    min-height: 265px;
    background-image: url("https://assets.betalabs.net/production/sync/images/stores/1/newsletter-mobile.jpg");
    padding: 54px 7.3% 70px;
  }
  .newsletter h2 {
    font-size: 35px;
    font-weight: 400;
    color: #484848;
    display: block;
    text-align: center;
    line-height: 38px;
    margin-bottom: 10px;
  }
  .newsletter h2 span {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
  }
  .newsletter form {
    width: 100%;
    position: relative;
  }
  .newsletter input[type=submit] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .newsletter input[type=text] {
    width: 100%;
    min-height: 58px;
    background-color: #fff;
    border: none;
    padding-left: 27px;
    font-size: 14px;
    font-weight: 400;
    color: #484848;
  }
  .newsletter label {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
  }
  .footer {
    padding: 56px 7.3% 39px;
    background-image: url("https://assets.betalabs.net/production/sync/images/stores/1/footer.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer .icon__sync {
    width: 108px;
    height: 163px;
    margin-bottom: 28px;
  }
  .footer p {
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
    margin-bottom: 22px;
  }
  .footer .btn-support {
    width: 248px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 8px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .footer .btn-support.verde {
    background-color: #c2ef7a;
    color: #5a762d;
  }
  .footer .btn-support.marrom {
    background-color: #caa68c;
    color: #fff;
  }
  .footer .btn-support .icon__whatsapp {
    margin-right: 11px;
  }
  .footer .btn-support .icon__chat {
    margin-right: 15px;
  }
  .footer h2 {
    font-size: 12px;
    font-weight: 700;
    color: #caa68c;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .footer li a {
    font-size: 10px;
    font-weight: 400;
    color: #707070;
    line-height: 30px;
    text-transform: uppercase;
  }
  .footer-right {
    margin-top: 40px;
  }
  .footer-right ul {
    width: calc(100% / 2);
    margin-bottom: 20px;
  }
  .footer-left ul {
    text-align: center;
  }
  .footer-up,
  .footer-down {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .made-by {
    max-width: 180px;
    margin: 66px auto 40px;
  }
  .banners-mid .flex{
    flex-wrap: wrap;
  }
  .wrap.categoria{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .wrap.categoria aside{
    width: 100%;
  }
  .wrap.categoria aside ul{
    padding: 20px;
    margin-bottom: .5rem;
  }
  .wrap.categoria aside ul h2{
    color: #CAA68C;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .8rem;
  }
  .wrap.categoria aside ul li a{
    color: #5D5D5D;
    font-size: 15px;
    margin-bottom: .5rem;
  }
  .wrap.categoria aside ul li a input{
    display: none;
  }
  .wrap.categoria aside ul li a label{
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    cursor: pointer;
    font-size: .9em;
    color: #262626;
    top: 5px;
  }
  [type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #E5E5E5;
    background: #fff;
    border-radius: 5px;
  }
  [type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after{
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    line-height: .5;
    background-color:#CAA68C;
    transition: all .2s;
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }
  ul li a label:after {
    opacity: 0;
    transform: scale(0);
  }
  ul li.active a label:after {
    opacity: 1;
    transform: scale(1);
  }
  .wrap.categoria aside ul:nth-child(odd){
    background-color: #FCF6F2;
  }
  .wrap.categoria aside ul:nth-child(even){
    /* border: 1px solid #EAEAEA; */
  }
  .vitrine{
    padding: 0;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
  }
  .vitrine .flex{
    flex-wrap: wrap;
  }
  .ordenar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .filtros{
    margin: 1rem 0;
  }
  .ordenar p{
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  #ordenar{
    width: 70%;
    padding: 15px;
    border: 1px solid #E0E0E0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    color: #727272;
  }
  #ordenar ~ span{
    position: absolute;
    right: 25px;
    top: 20px;
    color: #caa68c;
    font-size: 12px;
  }
  .vitrine .produto-item{
    margin-bottom: 1rem;
  }
  .breadcumb{
    padding: 20px;
  }
  .breadcumb h2{
    color: #CAA68C;
    font-size: 30px;
    font-weight: bold;
  }
  .breadcumb p{
    font-size: 12px;
    color: #707070;
  }
  .breadcumb-inst{
    border-bottom: 1px solid #EDE2DB;
  }
  .wrap.inst.flex{
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;
    padding: 0px 15px;
    padding-bottom: 75px;

  }
  .wrap.inst.flex > h2{
    color: #caa68c;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
    font-size: 29px;
  }
  .wrap.inst.flex > aside{
    width: 100%;
  }
  .wrap.inst.flex > aside ul{
    background-color: #FCF6F2;
    padding: 40px 30px;
  }
  .wrap.inst.flex > aside ul a{
    color: #707070;
    font-size: 15px;
    margin: .5rem 0;
  }
  .wrap.inst.flex > aside ul a.active{
    color: #CAA68C;
  }
  .wrap.inst.flex > aside ul h2{
    font-weight: bold;
    color: #CAA68C;
    font-size: 20px;
  }
  .wrap.inst.flex > div{
    width: 100%;
  }
  .wrap.inst.flex > div p{
    margin-bottom: 2rem;
    color: #707070;
    font-size: 14px;
    line-height: 26px;
  }
  .wrap.inst.flex .contato{
    display: flex;
    flex-wrap: wrap;
  }
  .wrap.inst.flex .contato form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    order: 12;
  }
  .wrap.inst.flex .contato form input, .wrap.inst.flex .contato form textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 20px 10px;
    border: 1px solid #D9D9D9;
    color: #707070;
    font-size: 15px;
    resize: none;
  }
  .wrap.inst.flex .contato form input[type="submit"]{
    padding: 20px;
    max-width: 200px;
    background-color: #CAA68C;
    border: none;
    color: #fff;
    margin-left: auto;
    font-weight: bold;
  }
  .contato-side{
    width: 100%;
    margin-top: 2rem;
  }
  .contato-side .flex{
    max-width: 150px;
    margin: 1rem 0;
  }
  .contato-side a{
    color: #707070;
    margin-bottom: .5rem;
  }
  .contato-side p{
    margin-bottom: 1rem !important;
  }
  .contato h2{
    font-weight: 400;
    width: 100%;
    order: 11;
  }
  .related{
    background-color: #FCF6F2;
    padding: 50px 0;
  }
  .related-title{
    text-align: center !important;
  }
  .produto-desc .produto-item--etiquetas{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 130px;
    left: 0;
  }
  .produto-desc{
    width: 100%;
  }
  .images{
    width: 100%;
  }
  .images .thumbs img{
    height: 70px
  }
  .related .flex{
    flex-wrap: wrap
  }
  .produto-desc h2{
    color: #CAA68C;
    font-size: 30px;
    font-weight: bold;
  }
  .produto-desc h2 span{
    text-decoration: line-through;
    font-size: 15px;
    color: #707070;
  }
  .produto-desc h3{
    color: #BCBCBC;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .produto-desc .marca{
    font-size: 15px;
    color: #A8A8A8;
    margin-top: 1rem;
  }
  .produto-desc h1{
    font-weight: bold;
    color: #707070;
    font-size: 26px;
    margin-bottom: 1rem;
  }
  .produto-desc p{
    color: #707070;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  #btn-comprar{
    color: #fff;
    font-weight: bold;
    background-color: #CAA68C;
    padding: 20px;
    width: 200px;
    text-align: center;
    padding-right: 30px;
  }
  #btn-comprar i{
    position: relative;
    top: 5px;
    margin-right: .5rem;
  }
  .produto-admin{
    display: flex;
  }
  .produto-admin .qtd{
    width: 50%; 
  }
  .related .produto-item--imgs .owl-item{
    background-color: #fff;
  }
  .qtd input{
    max-width: 75px;
    padding: 20px;
    border: 1px solid #DBDBDB;
    margin: 0 1rem;
    text-align: center;
  }
  .thumbs .owl-thumb-item{
    border: 1px solid #EAEAEA;
    background: transparent;
    outline: 0;
  }
  .owl-thumb-item.active{
    border: 1px solid #CAA68C;
  }
  .qtd .fas{
    border:2px solid #BFBFBF;
    color: #BFBFBF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }
  .qtd .fas::before{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .images .principal{
    margin-bottom: 1.5rem;
  }
  .images .principal .owl-item{
    margin: auto;
  }
  .thumbs{
    text-align: center;
    z-index: 999;
    outline: 0;
  }
  .principal .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: -65px;
    color: #CAA68C;
  }
  .interna-produto .tab-wrap div{
    padding: 20px 30px ;
  }
  .interna-produto .tab-wrap div p{
    color: #707070;
    font-size: 15px;
    margin-bottom: 1rem;
  }
  .interna-produto .wrap.flex{
    flex-wrap: wrap;
    padding: 15px;
  }
  #menu{
    background-color: #CAA68C;
    height: 100vh;
    width: 100%;  
    padding: 0;
    padding-top: 10px;
  }
  #menu .brands{
    width: 100%;
    background-color: #fff;
    margin-top: 2rem;
  }
  .fancybox-slide--html{
    padding: 0;
  }
  #menu a{
    color: #fff;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  #menu ul li a{
    margin-top: 0;
  }
  #menu .flex{
    align-items: baseline;
    flex-wrap: wrap;
  }
  body.fancybox-active.compensate-for-scrollbar{
    position: fixed;
  }
  #menu a.has-submenu:before {
    content: "";
    width: 21px;
    height: 19px;
    background-image: url(https://assets.betalabs.net/production/sync/fonts/stores/1/hamb-white.svg);
    display: inline-block;
    margin-right: 14px;
    position: relative;
    top: 5px;
  }
  #menu a.has-submenu{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  #menu .brands .wrap{
    max-width: 80%;
  }
  #menu ul{
    width: 50%;
  }
  #menu .flex{
    padding: 0 15px;
  }
  button.fancybox-button.fancybox-close-small{
    display: none;
  }
}
@media (min-width: 600px) {
  .tab-content--wrap {
    padding: 30px;
  }
}
@media (min-width: 768px) {
  .banners-top .desktop {
    display: block;
  }
  .banners-top .mobile {
    display: none;
  }
}
@media (min-width: 1170px) {
  .header {
    background-image: url("https://assets.betalabs.net/production/sync/images/stores/1/header-desktop.png");
    -webkit-box-shadow: 0px 5px 20px 2px rgba(245, 245, 245, 0.36);
  -moz-box-shadow: 0px 5px 20px 2px rgba(245, 245, 245, 0.36);
  box-shadow: 0px 5px 20px 2px rgba(245, 245, 245, 0.36);
  }
  .header .wrap {
    min-height: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
  }
  .header .desktop-admin {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
  .header-frete {
    width: 100%;
    align-self: flex-start;
  }
  .header-logo {
    width: 12.9%;
    display: block;
  }
  .header-logo .icon__sync {
    width: 80px;
    height: 123px;
  }
  .grid {
    width: 86.6%;
  }
  .header-menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu a {
    font-size: 11px;
    font-weight: 700;
    color: #707070;
    text-transform: uppercase;
  }
  .header-menu a.has-submenu {
    display: flex;
    align-items: center;
    color: #caa68c;
  }
  .header-menu a.has-submenu:before {
    content: "";
    width: 21px;
    height: 19px;
    background-image: url("https://assets.betalabs.net/production/sync/fonts/stores/1/hamb-marrom.svg");
    display: inline-block;
    margin-right: 14px;
  }
  .header-wrap {
    padding: 10px 0 0;
    margin-top: 25px;
    padding-top: 17px;
    border-top: 1px solid #f0f0f0;
  }
  .header-wrap.mobile {
    display: none;
  }
  .header-search {
    max-width: 880px;
    padding: 0;
  }
  .header-search input[type=text] {
    border-left: 3px solid #caa68c;
  }
  .beneficios {
    padding: 22px 0;
  }
  .beneficios ul {
    max-width: 1170px;
    display: flex;
    margin: auto;
  }
  .beneficios li {
    margin-right: 5.4%;
  }
  .beneficios li:not(:last-child) {
    margin-bottom: 0;
  }
  .brands .wrap{
    max-width: 1170px;
  }
  .brands .wrap .wrap{
    max-width: 80%;
  }
  .newsletter{
    background-image: url(https://assets.betalabs.net/production/sync/images/stores/1/newsletter.png);
  }
  .footer{
    background-image: url(https://assets.betalabs.net/production/sync/images/stores/1/footer-desk.png);
  }
  .brands h3{
    display: block;
  }
  .produtos-carousel .wrap{
    padding: 0;
  }
  .tab-content--wrap{
    padding: 40px 0;  
  }
  .banners-mid .left-col{
    max-width: 50%;
  }
  .head{
    max-width: 1170px;
    text-align: left;
  }
  .newsletter form{
    max-width: 395px;
    margin-left: 50px;
  }
  .newsletter .wrap{
    display: flex;
    max-width: 650px;
  }
  .newsletter h2{
    text-align: left;
  }
  .newsletter{
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .newsletter label{
    margin: 18px 0;
    cursor: pointer;
  }
  .footer{
    position: relative;
  }
  .footer .wrap{
    display: flex;
  }
  .footer-right{
    max-width: 70%;
    width: 100%;
  }
  .footer .btn-support.verde{
    position: absolute;
    right: 0;
    top: 100px;
  }
  .footer .btn-support.marrom{
    position: absolute;
    right: 0;
    top: 155px;
  }
  .footer-right ul{
    width: 24%;
  }
  .footer-left ul{
    text-align: left;
  }
  .footer-down ul li{
    display: flex;
    justify-content: space-between;
  }
  .footer-left{
    margin-right: 25px; 
  }
  .footer-up ul:last-child .flex{
    justify-content: flex-start
  }
  .footer-up ul:last-child .flex a{
    margin-right: 7px;
  }
  .made-by{
    margin: 0;
    margin-left: auto;
    width: 100%;
    height: 60px;
  }
  .footer-up{
    position: relative;
    margin-bottom: 1rem;
  }
  .footer-up::after{
    content: "";
    height: 1px;
    width: 3500px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E8E8E8;
  }
  .footer-down ul > li img{
    margin-right: 1rem;
  }
  .breadcumb{
    padding: 20px 0;
  }
  .breadcumb h2{
    color: #CAA68C;
    font-size: 30px;
    font-weight: bold;
  }
  .breadcumb p{
    font-size: 12px;
    color: #707070;
  }
  .banner-btn{
    margin-right: 62%;
    bottom: 55px;
  }
  .banner-btn:hover{
    color: #fff;
  }
  .header-search label{
    right: 0;
  }
  .wrap.categoria{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .wrap.categoria aside{
    width: 25%;
  }
  .wrap.categoria aside ul{
    padding: 40px 30px;
    margin-bottom: 1.5rem;
  }
  .wrap.categoria aside ul h2{
    color: #CAA68C;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: .8rem;
  }
  .wrap.categoria aside ul li a{
    color: #5D5D5D;
    font-size: 15px;
    margin-bottom: .5rem;
  }
  .wrap.categoria aside ul li a input{
    display: none;
  }
  .wrap.categoria aside ul li a label{
    position: relative;
    padding-left: 30px;
    padding-top: 5px;
    cursor: pointer;
    font-size: .9em;
    color: #262626;
    top: 5px;
  }
  [type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #E5E5E5;
    background: #fff;
    border-radius: 5px;
  }
  [type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    line-height: .5;
    background-color:#CAA68C;
    transition: all .2s;
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }
  .wrap.categoria aside ul:nth-child(odd){
    background-color: #FCF6F2;
  }
  .wrap.categoria aside ul:nth-child(even){
    border: 1px solid #EAEAEA;
  }
  .vitrine{
    padding: 0;
    width: 74%;
    margin-top: 0;
    margin-left: auto;
  }
  .ordenar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .filtros{
    margin: 1rem 0;
  }
  .ordenar p{
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  #ordenar{
    width: 192px;
    padding: 15px;
    border: 1px solid #E0E0E0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    color: #727272;
  }
  #ordenar ~ span{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #caa68c;
    font-size: 12px;
  }
  .wrap.inst.flex{
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;
    padding: 0;
    padding-bottom: 75px;
  }
  .wrap.inst.flex > h2{
    color: #caa68c;
    font-weight: bold;
    margin: 1rem 0;
    width: 100%;
    font-size: 29px;
  }
  .wrap.inst.flex > aside{
    width: 25%;
    padding-right: 10px;
  }
  .wrap.inst.flex > aside ul{
    background-color: #FCF6F2;
    padding: 40px 30px;
  }
  .wrap.inst.flex > aside ul a{
    color: #707070;
    font-size: 15px;
    margin: .5rem 0;
  }
  .wrap.inst.flex > aside ul a.active{
    color: #CAA68C;
  }
  .wrap.inst.flex > aside ul h2{
    font-weight: bold;
    color: #CAA68C;
    font-size: 20px;
  }
  .wrap.inst.flex > div{
    width: 74%;
  }
  .wrap.inst.flex > div p{
    margin-bottom: 2rem;
    color: #707070;
    font-size: 14px;
    line-height: 26px;
  }
  .wrap.inst.flex .contato form{
    order: 1;
    width: 70%;
  }
  .contato-side{
    width: 28%;
    order: 12;
    margin: auto;
    margin-top: 1rem;
    margin-right: 0;
  }
  .contato h2{
    order: 0;
  }
  .images{
    width: 50%;
  }
  .interna-produto > .flex{
    align-items: end;
  } 
  .produto-desc{
    padding: 50px;
    width: 50%;
  }
  .interna-produto .tab-wrap div{
    padding: 50px ;
  }
  .interna-produto .tab-wrap li a{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 35px;
  }
  .interna-produto .tab-wrap li a[aria-selected=true]{
    color: #707070;
    font-weight: bold;
  }
  .interna-produto .tab-wrap ul{
    padding: 0;
  }
  #menu{
    padding: 50px 0;
  }
  #menu a.has-submenu{
    margin-bottom: 3rem;
  }
  #menu ul{
      width: unset;
  }
  .qtd-cart{
    position: relative;
  }
  .qtd-cart span{
    position: absolute;
    top: -10px;
    background-color: pink;
    padding: 5px;
    display: block;
    color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1.5;
    font-size: 11px;
    right: -15px;
  }
}
@media (min-width: 1170px) and (max-width: 2000px){ 
  .banner-categoria .banner-btn{
    margin-right: 60%;
    bottom: 50px;
  }
}
@media (min-width: 1440px){ 
  .banner-top .banner-btn{
    margin-right: 63%;
    bottom: 80px;
  }
}
@media (min-width: 1600px){ 
  .banner-top .banner-btn{
    margin-right: 64%;
  }
}
@media (min-width: 1920px){ 
  .banner-top .banner-btn{
    margin-right: 65%;
    bottom: 120px;
  }
}