.icon
  background-size cover
  background-position center
  background-repeat no-repeat
  display inline-block

.icon__heart
  width 18px
  height 15.24px
  background-image url(../img/heart.svg)
  margin-right 11px

.icon__hamb
  width 31px
  height 24px
  background-image url(../img/hamb.svg)

.icon__sync
  width 62px
  height 94px
  background-image url(../img/sync.svg)

.icon__user
  width 24px
  height 24px
  background-image url(../img/user.svg)

.icon__cart
  width 27px
  height 21px
  background-image url(../img/cart.svg)

.icon__search
  width 23px
  height 24px
  background-image url(../img/search.svg)

.icon__truck
  width 33px
  height 19px
  background-image url(../img/truck.svg)

.icon__boleto
  width 28px
  height 18px
  background-image url(../img/boleto.svg)

.icon__card
  width 28px
  height 18px
  background-image url(../img/card.svg)

.icon__chevron-right
  width 22px
  height 22px
  background-image url(../img/chevron-right.svg)

.icon__whatsapp
  width 24px
  height 24px
  background-image url(../img/whatsapp.svg)

  &.marrom
    background-image url(../img/whatsapp-marrom.svg)

.icon__chat
  width 17px
  height 17px
  background-image url(../img/chat.svg)

.icon__facebook
  width 24px
  height 24px
  background-image url(../img/facebook.svg)

.icon__instagram
  width 24px
  height 24px
  background-image url(../img/instagram.svg)

.icon__youtube
  width 24px
  height 16.7px
  background-image url(../img/youtube.svg)