body {
    font-family: 'Montserrat-Regular';
    color: #313131;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    position: relative;
    font-family: 'Montserrat-Bold';
}

.header .header-menu {
    display: none;
    position: absolute;
    left: 0px;
}

.header .header-menu .menu-icon {
    width: 25px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.header .header-menu .menu-icon span {
    width: 100%;
    height: 5px;
    background-color: #FF9F1C;
    display: block;
}

.header .header-logo img {
    width: 178px;
    height: auto;
}

.header .header-nav nav ul {
    padding: 0;
    margin: 0;
}

.header .header-nav nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 35px;
}

.header .header-nav nav ul li a {
    cursor: pointer;
    color: #313131 !important;
}

.header .header-btn button {
    border: none;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    text-transform: uppercase;
}

.header .header-btn .btn-matricula {
    width: 118px;
    background-color: #FF9F1C;
}

.header .header-btn .btn-portal {
    width: 146px;
    background-color: rgba(0, 0, 0, .19);
}

.header-menu-mob {
    display: none;
    width: 320px;
    position: absolute;
    top: 175px;
    height: calc(100% - 175px);
    background-color: #ddd;
    padding-top: 20px;
    left: -320px;
    transition: left .3s ease-in-out;
    z-index: 99;
}

.header-menu-mob.show {
    left: 0;
    transition: left .3s ease-in-out;
}

.header-menu-mob .nav-menu-mob nav ul {
    list-style: none;
}

.header-menu-mob .nav-menu-mob nav ul li {
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .header .header-logo img {
        width: 135px;
    }
    .header .header-nav nav ul li {
        margin-right: 15px;
    }
}

@media screen and (max-width: 992px) {
    .header.container {
        padding: 0;
    }
    .header .header-logo img {
        width: 115px;
    }
    .header .header-nav nav ul li {
        font-size: 11px;
        margin-right: 5px;
    }
    .header .header-btn .btn-matricula {
        width: 110px;
        font-size: 11px;
        margin-right: 5px;
    }
    .header .header-btn .btn-portal {
        width: 140px;
    }
}

@media screen and (max-width: 768px) {
    .header .header-nav {
        display: none;
    }
    .header .header-logo {
        margin-left: 60px;
    }
    .header .header-menu {
        display: block;
    }
    .header-menu-mob {
        display: block;
    }
    .header-menu-mob {
        top: 105px;
        height: calc(100% - 105px);
    }
}

@media screen and (max-width: 575px) {
    .header .header-menu {
        left: 10px;
    }
}

@media screen and (max-width: 425px) {
    .header.container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 175px;
    }
    .header .header-logo {
        margin: 0;
    }
    .header .header-logo img {
        width: 150px;
    }
    .header .header-menu {
        left: 20px;
        top: 30px;
    }
    .header-menu-mob {
        top: 175px;
        height: calc(100% - 175px);
    }
}

@media screen and (max-width: 375px) {
    .header .header-btn {
        width: 300px;
        display: flex;
        justify-content: space-around;
    }
    .header .header-btn .btn-matricula {
        margin: 0;
    }
}

/* FOOTER */

.footer {
    padding-top: 60px;
}

.footer .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.footer .footer-nav .ft-institucional label, .footer .footer-nav .ft-atendimento label {
    font-family: 'Montserrat-bold';
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.2px;
    color: #ff9f1c;
    text-align: left;
    text-transform: uppercase;
}

.footer .footer-nav .ft-institucional nav ul, .footer .footer-nav .ft-atendimento nav ul {
    list-style: none;
    padding: 0;
}

.footer .footer-nav .ft-institucional nav ul li, .footer .footer-nav .ft-atendimento nav ul li {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0;
    color: #696969;
    text-transform: capitalize;
    cursor: pointer;
}

.footer .footer-nav .ft-matricula .matricula-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer .footer-nav .ft-matricula .matricula-btns button {
    height: 40px;
    border: none;
    border-radius: 4px;
    background: #FF9F1C 0% 0% no-repeat padding-box;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Montserrat-Bold';
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer .footer-nav .ft-matricula .matricula-btns .matri-btn1 {
    width: 118px;
}

.footer .footer-nav .ft-matricula .matricula-btns .matri-btn2 {
    width: 171px;
}

.footer .footer-nav .ft-matricula .matricula-btns .matri-btn3 {
    width: 194px;
    background-color: #85BA20;
}

.footer .footer-nav .ft-matricula .social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.footer .footer-nav .ft-pagamento .pagamento-cartoes p {
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    font-family: 'Montserrat-bold';
    letter-spacing: 1.2px;
    color: #ff9f1c;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer .footer-nav .ft-pagamento .pagamento-cartoes .list-cartoes img {
    width: 35px;
    height: 25px;
    margin-right: 8px;
}

.footer .footer-nav .ft-pagamento .parceiros {
    margin-top: 38px;
    width: 377px;
}

.footer .footer-nav .ft-pagamento .parceiros .parceiro-grupo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(1) {
    width: 67.72px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(2) {
    width: 59px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(3) {
    width: 102px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(1) {
    width: 107px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(2) {
    width: 97px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(3) {
    width: 115px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.ultimo img:nth-child(1) {
    width: 56px;
    height: auto;
}

.ft-pagamento .parceiros .parceiro-grupo.ultimo img:nth-child(2) {
    width: 81px;
    height: auto;
}

.footer .ft-bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 2px rgba(221, 221, 221, .5);
}

.footer .ft-bottom img:first-child {
    margin-right: 37px;
}

@media screen and (max-width: 992px) {
    .footer .footer-nav .ft-institucional label, .footer .footer-nav .ft-atendimento label {
        font-size: 10px;
    }
    .footer .footer-nav .ft-institucional nav ul li, .footer .footer-nav .ft-atendimento nav ul li {
        font-size: 10px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns button {
        height: 30px;
        font-size: 9px;
        line-height: 10px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn1 {
        width: 98px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn2 {
        width: 151px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn3 {
        width: 174px;
    }
    .footer .footer-nav .ft-matricula .social-icons img {
        width: 19px;
    }
    .footer .footer-nav .ft-pagamento .pagamento-cartoes p {
        font-size: 12px;
        line-height: 20px;
    }
    .footer .footer-nav .ft-pagamento .pagamento-cartoes .list-cartoes img {
        width: 20px;
        height: 15px;
    }
    .footer .footer-nav .ft-pagamento .parceiros {
        margin-top: 38px;
        width: 220px;
    }
    .footer .footer-nav .ft-pagamento .parceiros .parceiro-grupo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    .ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(1) {
        width: 47px;
    }
    .ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(2) {
        width: 39px;
    }
    .ft-pagamento .parceiros .parceiro-grupo.primeiro img:nth-child(3) {
        width: 82px;
    }
    .ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(1) {
        width: 60px;
        height: auto;
    }
    .ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(2) {
        width: 55px;
        height: auto;
    }
    .ft-pagamento .parceiros .parceiro-grupo.segundo img:nth-child(3) {
        width: 85px;
        height: auto;
    }
    .ft-pagamento .parceiros .parceiro-grupo.ultimo img:nth-child(1) {
        width: 36px;
        height: auto;
    }
    .ft-pagamento .parceiros .parceiro-grupo.ultimo img:nth-child(2) {
        width: 61px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-top: 50px;
    }
    .footer .footer-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer .footer-nav .ft-institucional label, .footer .footer-nav .ft-atendimento label {
        font-size: 12px;
    }
    .footer .footer-nav .ft-institucional nav ul li, .footer .footer-nav .ft-atendimento nav ul li {
        font-size: 12px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns button {
        height: 40px;
        font-size: 11px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn1 {
        width: 118px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn2 {
        width: 171px;
    }
    .footer .footer-nav .ft-matricula .matricula-btns .matri-btn3 {
        width: 194px;
    }
    .footer .footer-nav .ft-matricula .social-icons {
        margin-bottom: 45px;
    }
    .footer .footer-nav .ft-matricula .social-icons img {
        width: 24px;
        height: 24px;
    }
    .footer .footer-nav .ft-pagamento .pagamento-cartoes .list-cartoes img {
        width: 34px;
        height: 24px;
        margin-right: 0;
    }
    .footer .footer-nav {
        max-width: 300px;
        margin: auto;
    }
    .footer .footer-nav .ft-pagamento .parceiros {
        width: 100%;
    }
}

/* BLOG */

.blog-banner {
    height: 170px;
    background-color: #0e0323;
}

.blog-banner .bg-blog {
    height: 100%;
    width: 100%;
    background-image: url(../assets/home/bg-blog.png);
    background-size: cover;
    background-position: center;
}

.blog-banner .blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blog-banner .blog-container .leia-blog {
    display: flex;
    align-items: center;
    margin-right: 75px;
    color: #fff;
}

.blog-container .leia-blog img {
    width: 35px;
    display: block;
    margin-right: 35px;
}

.blog-container .leia-blog .leia-txt label {
    font-size: 23px;
    line-height: 28px;
    font-family: 'Montserrat-SemiBold';
    letter-spacing: 2.3px;
    text-transform: uppercase;
}

.blog-container .leia-blog .leia-txt p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
}

.blog-container button {
    border: none;
    width: 146px;
    height: 40px;
    background: #FF9F1C 0% 0% no-repeat padding-box;
    border-radius: 4px;
    font-family: 'Montserrat-Bold';
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .blog-banner {
        height: 233px;
    }
    .blog-banner .blog-container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .blog-banner .blog-container .leia-blog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .blog-container .leia-blog img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .blog-container .leia-blog .leia-txt {
        margin-bottom: 15px;
    }
    .blog-container .leia-blog .leia-txt p {
        line-height: 20px;
        width: 172px;
        margin: auto;
    }
}

/* OVERFLOW MENU OPEN */

.opened-menu {
    overflow: hidden;
}