@model List<DomainCompany.Entities.CustomPage>

@{
  int counter = 1;
  int commonQuestionColumn = 2;
  bool commonQuestionsLink = false;
}

@foreach (var itemTitle in Model)
{

  <div class="column">
    <h4>@itemTitle.Name</h4>
    <div>
      @foreach (var itemPage in itemTitle.CustomPagesContent)
      {
        <a href="/institucional/@itemTitle.IdCustomPage/@itemPage.IdCustomPageContent" class="item" title="@itemPage.Name"><h5 class="link-footer">@itemPage.Name</h5></a>
      }
      
      
      </div>
  </div>

  counter++;
}
